google==3.0.0
google-cloud-storage==2.9.0
google-api-core==2.11.1
google-auth==2.20.0
google-cloud==0.34.0
google-cloud-core==2.3.2
google-cloud-vision==3.3.1
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
grpcio==1.51.1
grpcio-status
idna==3.4
numpy==1.24.2
panda==0.3.1
pandas==1.5.3
proto-plus==1.22.2
protobuf
py4j==0.10.9.5
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyspark==3.3.1
python-dateutil==2.8.2
pytz==2022.7.1
requests
rsa==4.9
six==1.16.0
urllib3
google_cloud_pipeline_components
kfp~=1.8.20
gcsfs==2023.6.0
dask[complete]~=2023.6.0
dask-cloudprovider==2022.10.0
cloudpickle
nest-asyncio
uvicorn